<!DOCTYPE html>
<html>
    <head>
	<meta name="robots" content="noindex, nofollow">
	<link href="{{ url_for('.static', filename='css/main.css') }}" rel="stylesheet"></link>
    </head>
    <body>
	<h1>Response time profiling</h1>
	<ul>
	    <li><a href="{{ url_for('flask_profiler.summary') }}">Summarized view</a></li>
	    <li><a href="{{ url_for('flask_profiler.details') }}">Detailed view</a></li>
	</ul>
	<div>
	    <h2>{% block headline %}Profiling{% endblock %}</h2>
	    {% block content %}{% endblock %}
	</div>
    </body>
</html>
