{% extends "base.html" %}
{% from 'macros/table.html' import render_table %}
{% from 'macros/pagination.html' import render_paginator %}

{% block headline %}
Summarized view
{% endblock %}

{% block content %}
<h3>Filters</h3>
<form method="get">
    <div>
	<label>Method name:</label>
	<input name="method" value="{{view_model.method_filter_text}}"></input>
    </div>
    <div>
	<label>Route name:</label>
	<input name="name" value="{{view_model.name_filter_text}}"></input>
    </div>
    <div>
	<label>Requested After:</label>
	<input
	    name="requested_after"
	    type="datetime-local"
	    value="{{view_model.requested_after_filter_text}}">
</input>
    </div>
    <button type="submit">Filter</button>
</form>
{{ render_paginator(view_model.pagination) }}
{{ render_table(view_model.table) }}
{% endblock %}
