{% macro render_cell(cell) %}
<td>
    {% if cell.link_target %}
    <a href="{{ cell.link_target }}">{{ cell.text }}</a>
    {% else %}
    {{ cell.text }}
    {% endif %}
</td>
{% endmacro %}

{% macro render_table(table) %}
<table>
    <thead>
	{% for header in table.headers %}
	<th>{{ header.label }}</th>
	{% endfor %}
    </thead>
    <tbody>
	{% for row in table.rows %}
	<tr>
	    {% for cell in row %}
	    {{ render_cell(cell) }}
	    {% endfor %}
	</tr>
	{% endfor %}
    </tbody>
</table>
{% endmacro %}
