{% macro render_cell(cell) %}
<td>
    {% if cell.link_target %}
    <a href="{{ cell.link_target }}">{{ cell.text }}</a>
    {% else %}
    {{ cell.text }}
    {% endif %}
</td>
{% endmacro %}

{% macro render_header(header) %}
<th>
    {% if header.link_target %}
    <a href="{{ header.link_target }}">{{ header.label }}</a>
    {% else %}
    {{ header.label }}
    {% endif %}
</th>
{% endmacro %}

{% macro render_table(table) %}
<table class="table">
    <thead>
	{% for header in table.headers %}
	{{ render_header(header) }}
	{% endfor %}
    </thead>
    <tbody>
	{% for row in table.rows %}
	<tr>
	    {% for cell in row %}
	    {{ render_cell(cell) }}
	    {% endfor %}
	</tr>
	{% endfor %}
    </tbody>
</table>
{% endmacro %}
